/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  overflow-y: scroll; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

.center-image {
  margin: 0 auto;
  display: block; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none;
  outline: none; }
  a:visited {
    color: #1756a9; }
  a:hover {
    color: #111;
    text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 14px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #fff; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

/**
 * Site header
 */
.site-header {
  border-top: 5px solid #424242;
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  position: relative; }

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; }
  .site-title, .site-title:visited {
    color: #424242; }

.site-nav {
  float: right;
  line-height: 56px; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #828282;
    line-height: 1.5; }
    .site-nav .page-link:not(:last-child) {
      margin-right: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 15px;
      background-color: #fdfdfd;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: #424242; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 0; } }

/**
 * Site footer
 */
@media screen and (max-width: 800px) {
  .nomobile {
    display: none; } }
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0; }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); }

  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
/**
 * Page content
 */
.page-content {
  padding: 30px 0; }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 14px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 24px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff;
    /* default?
      .c     { color: #998; font-style: italic } // Comment
      .err   { color: #a61717; background-color: #e3d2d2 } // Error
      .k     { font-weight: bold } // Keyword
      .o     { font-weight: bold } // Operator
      .cm    { color: #998; font-style: italic } // Comment.Multiline
      .cp    { color: #999; font-weight: bold } // Comment.Preproc
      .c1    { color: #998; font-style: italic } // Comment.Single
      .cs    { color: #999; font-weight: bold; font-style: italic } // Comment.Special
      .gd    { color: #000; background-color: #fdd } // Generic.Deleted
      .gd .x { color: #000; background-color: #faa } // Generic.Deleted.Specific
      .ge    { font-style: italic } // Generic.Emph
      .gr    { color: #a00 } // Generic.Error
      .gh    { color: #999 } // Generic.Heading
      .gi    { color: #000; background-color: #dfd } // Generic.Inserted
      .gi .x { color: #000; background-color: #afa } // Generic.Inserted.Specific
      .go    { color: #888 } // Generic.Output
      .gp    { color: #555 } // Generic.Prompt
      .gs    { font-weight: bold } // Generic.Strong
      .gu    { color: #aaa } // Generic.Subheading
      .gt    { color: #a00 } // Generic.Traceback
      .kc    { font-weight: bold } // Keyword.Constant
      .kd    { font-weight: bold } // Keyword.Declaration
      .kp    { font-weight: bold } // Keyword.Pseudo
      .kr    { font-weight: bold } // Keyword.Reserved
      .kt    { color: #458; font-weight: bold } // Keyword.Type
      .m     { color: #099 } // Literal.Number
      .s     { color: #d14 } // Literal.String
      .na    { color: #008080 } // Name.Attribute
      .nb    { color: #0086B3 } // Name.Builtin
      .nc    { color: #458; font-weight: bold } // Name.Class
      .no    { color: #008080 } // Name.Constant
      .ni    { color: #800080 } // Name.Entity
      .ne    { color: #900; font-weight: bold } // Name.Exception
      .nf    { color: #900; font-weight: bold } // Name.Function
      .nn    { color: #555 } // Name.Namespace
      .nt    { color: #000080 } // Name.Tag
      .nv    { color: #008080 } // Name.Variable
      .ow    { font-weight: bold } // Operator.Word
      .w     { color: #bbb } // Text.Whitespace
      .mf    { color: #099 } // Literal.Number.Float
      .mh    { color: #099 } // Literal.Number.Hex
      .mi    { color: #099 } // Literal.Number.Integer
      .mo    { color: #099 } // Literal.Number.Oct
      .sb    { color: #d14 } // Literal.String.Backtick
      .sc    { color: #d14 } // Literal.String.Char
      .sd    { color: #d14 } // Literal.String.Doc
      .s2    { color: #d14 } // Literal.String.Double
      .se    { color: #d14 } // Literal.String.Escape
      .sh    { color: #d14 } // Literal.String.Heredoc
      .si    { color: #d14 } // Literal.String.Interpol
      .sx    { color: #d14 } // Literal.String.Other
      .sr    { color: #009926 } // Literal.String.Regex
      .s1    { color: #d14 } // Literal.String.Single
      .ss    { color: #990073 } // Literal.String.Symbol
      .bp    { color: #999 } // Name.Builtin.Pseudo
      .vc    { color: #008080 } // Name.Variable.Class
      .vg    { color: #008080 } // Name.Variable.Global
      .vi    { color: #008080 } // Name.Variable.Instance
      .il    { color: #099 } // Literal.Number.Integer.Long
  */
  /* same as above, minus font-style */
  /* visual studio, incomplete, overrides from above */ }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998; }
  .highlight .err {
    color: #a61717; }
  .highlight .cm {
    color: #998; }
  .highlight .cp {
    color: #999; }
  .highlight .c1 {
    color: #998; }
  .highlight .cs {
    color: #999; }
  .highlight .gd {
    color: #000; }
  .highlight .gd .x {
    color: #000; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000; }
  .highlight .gi .x {
    color: #000; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kt {
    color: #458; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900; }
  .highlight .nf {
    color: #900; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }
  .highlight .hll {
    background-color: #ffffcc; }
  .highlight .c {
    color: #008000; }
  .highlight .err {
    border: 1px solid #FF0000; }
  .highlight .k {
    color: #0000ff; }
  .highlight .cm {
    color: #008000; }
  .highlight .cp {
    color: #0000ff; }
  .highlight .c1 {
    color: #008000; }
  .highlight .cs {
    color: #008000; }
  .highlight .kc {
    color: #0000ff; }
  .highlight .kd {
    color: #0000ff; }
  .highlight .kn {
    color: #0000ff; }
  .highlight .kp {
    color: #0000ff; }
  .highlight .kr {
    color: #0000ff; }
  .highlight .kt {
    color: #2b91af; }
  .highlight .s {
    color: #a31515; }
  .highlight .nc {
    color: #2b91af; }
  .highlight .ow {
    color: #0000ff; }
  .highlight .sb {
    color: #a31515; }
  .highlight .sc {
    color: #a31515; }
  .highlight .sd {
    color: #a31515; }
  .highlight .s2 {
    color: #a31515; }
  .highlight .se {
    color: #a31515; }
  .highlight .sh {
    color: #a31515; }
  .highlight .si {
    color: #a31515; }
  .highlight .sx {
    color: #a31515; }
  .highlight .sr {
    color: #a31515; }
  .highlight .s1 {
    color: #a31515; }
  .highlight .ss {
    color: #a31515; }

