html{
    background-color: #eaf0f2;
}

.main-text{
    font:16px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin-right: 150px;
    margin-left: 80px;
}

.text-point{
    font:16px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin-right: 150px;
    margin-left: 40px;
}

.text-subpoint{
    font:16px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin-right: 150px;
    margin-left: 80px;
}
